[MASTER]
# mac pylint error could not find numpy
init-hook='import sys; sys.path.append("/usr/local/lib/python3.10/site-packages")'

[MESSAGES CONTROL]

disable=duplicate-code

[DESIGN]

max-locals=19
max-attributes=12

[FORMAT]
# ignore long format lines
ignore-long-lines=^.*f"{1,3}.*$
max-line-length=110
